@using CrmForStudents.Models.DTO
@model DataAndServiceVM

<div class="text-center">
    <form method="post">
        <div class="mt-3">
            <label class="form-label">Дата окончания</label>
            <input type="datetime" class="form-control" asp-for="DateTime" />
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>
</div>
<div class="text-center">
    @if (Model == null)
    {
        <h1>Выберите дату</h1>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Имя клиента</th>
                    <th>Продукт</th>
                    <th>Цена</th>
                    <th>Дата начала</th>
                    <th>Дата окончания</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.Service)
                {
                    <tr>
                        <td>@i.Student.Name</td>
                        <td>@i.Product.Name</td>
                        <td>@i.Product.Price</td>
                        <td>@i.StartDate</td>
                        <td>@i.FinishDate</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
