@using CrmForStudents.Models.ViewModels
@model AddStudentViewModels

<div>
    <h2>@Model.Name</h2>
    <h2>@Model.Email</h2>
    <h2>@Model.Phone</h2>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
               <th>Продукт</th> 
               <th>Цена</th> 
               <th>Дата начала</th> 
               <th>Дата окончания</th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.Services)
            {
                <tr>
                    <td>@i.Product.Name</td>
                    <td>@i.Product.Price</td>
                    <td>@i.StartDate</td>
                    <td>@i.FinishDate</td>
                </tr>
            }
        </tbody>
    </table>


</div>